*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    width: 100%;
    height: 70px;
    line-height: 70px;
    position: fixed;
    background-color: white;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.logo{
    width: 150px;
    padding: 5px 20px;
    float: left;
}
.link-head{
    float: left;
}

header .link-head li{
    display: inline-block;
    margin-right: 30px;

}
.link-head li:first-child{
    margin-left: 60px;
}
.quarto{
    margin-left: 130px;
}
li a{
    color: black;
    line-height: 70px;
    text-decoration: none;
}
li.bord-bottom:hover{
    border-bottom: 1px solid black;
}

main{
    height: 700px;
    background-color: #B4D0E7;
    
}
.contenuto-padding{
    padding: 6% 3%;
}
h1{
    font-size: 86px;
}

.text-bottom{
    width: 30%;
    padding-top: 2%;
    display: inline-block;
}
.bottom{
    font-size: 18px;
    margin-top: 27px;
    margin-left: 30px;
}
.bottom:hover{
    background-color: lightblue;
}
.bottom-main-top{
    margin-top: 20px;
}
.bottom-all{
    text-decoration: none;
    color: white;
    background-color: #0061FF;
    padding: 5px 10px;
}
.info-annulla{
    margin-top: 20px;
}
.contain-arrow{
    width: 10%;
    height: 30px;
}
.arrow{
    color: black;
    text-decoration: none;
}

.image1{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-left: 60px;
    margin-top: 30px;
}
img{
    width: 100%;
}
.piano-dropbox{
    width: 80%;
    margin:70px auto;
}
.piano-dropbox .professional{
    width: 28%;
    height: 780px;
    border: 1px solid gray;
    margin-top: 20PX;
    float: left;
    margin-right: 5%;
    
}
.recipiente{
    width: 90%;
    margin: auto;
}
.titolino{
    text-align: center;
    border-bottom: 1px solid gray;
}
.mini-padding{
    padding: 20px 16px;
}
.container-size{
    font-size: 13px;
}
.prezzo{
    margin-top: 10px;
}
.tempo-pagamento{
    color: #8995A1;
    margin-top: 10px;
}
.info{
    margin-bottom: 20px;
}
.professional-bottom{
    margin: auto;
}
.alternativa{
    margin: 10px 4px;
    display: inline-block;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}
.secondo-titolo{
    margin-top: 20px;
    margin-bottom: 20px;
}
.vendite{
    width: 70%;
    margin: auto;
    border: 1px solid gray;
}
.titolo-vendite{
    text-align: center;
    border-bottom: 1px solid gray;
}
.vendite-top, .vendite-bottom{
    display: inline-block;
}
.vendite-bottom{
    margin-left: 340px;
}
.text-uffice{
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.info-soluzioni{
    font-size: 14px;
}
.image-text{
    width: 70%;
    height: 480px;
    margin: 40px auto;
}
.image-partner{
    width: 50%;
    vertical-align: middle;
}
.image-partner, .text-partner{
    display: inline-block;
}
.text-partner{ 
    font-size: 16px;
    padding: 10px;
    padding-top: 20px;
    vertical-align: top;
}
.paragrafo-partner{
    padding: 5% 0;
}
.link-partner{
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px 8px;
}
.container{
    width: 80%;
    margin: auto;
}
.row-titolo{
    font-size: 30px;
}
.container .row{
    width: 100%;
    margin: 3% 0;
}

.container .colonna-float{
    width: 27%;
    float: left;
    margin: 3% 3%;
}
.container .image{
    width: 100%;
}
.colonna-float .colonna-h2{
    margin: 5% 0;
}
.container2{
    width: 100%;
    background-color: #B4D0E7;
    margin-top: 6%;
}
.terzoh1{
    margin-bottom: 3%;
}
.row2{
    width: 100%;
    background-color: gray;
}


.image-designit{
    width: 50%;
    height: 200px;
    float: left;
}
.background1{
    background-color: #A2D39B;
}
.designit{
    width: 50%;
    margin: 30% 25%;
}
.background2{
    background-color: #1D93CE;
}
.background3{
    background-color: #61082C;
}
.background4{
    background-color: #1D93CE;
}
.background5{
    background-color: #F91C1D;
}
.background6{
    background-color: #D5021F;
}
.background7{
    background-color: #B3CEE5;
}
.background8{
    background-color: #0D2481;
}
.background9{
    background-color: #FED830;
}

.image-center{
    width: 40%;
    height: 400px;
    background-color: #F5F5F5;
    float: left;
} 
.logo-in-alto{
    width: 20%;
    margin: 8% 8%;
}
.p-center{
    padding: 7%;
}
.contain-uno{
    float: left;
    width: 30%;
}
.titolo-immagini{
    font-size: 150%;
    width: 40%;
    margin: 11% 8%;
    display: inline-block;
    vertical-align: middle;
}
.prova-gratuita{
    width: 20%;
    display: inline-block;
    margin-left: 8%;
}
.link-gratis{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 2% 8%;
}
.seconda-lista li{
    list-style: none;
    padding: 3% 0;
    border-bottom: 1px solid lightgray;
}
.seconda-lista .ampio{
    padding-bottom: 5%;
}
.symbol-v{
    margin-left: 45%;
}
footer{
    width: 100%;
    height: 400px;
    color: white;
    background-color: black;
    margin-top: 4500px;
    padding-top: 7%;
}
.lista-footer{
    color: white; 
    float: left;   
    
}
.lista-footer li{
    list-style: none;
    
}
.footer-primo-li{
    margin-bottom: 11%;
}
.mini-li{
    font-size: 15px;
    color: #9C9C9C;
}
.lista-footer.left{
    margin-left: 6%;
}
.ultimoli{
    border-bottom: 1px solid gray;
    padding-bottom: 60%;
}
.nation-page{
    color: #464646;
    margin-top: 3%;
}